<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ baslik }}</title>
</head>
<body>
    <h1>{{ baslik }} Formu</h1>
    {% if form.errors %}
        <p>hataları düzeltip tekrar gönderin</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            {% for alan in form %}
                {% if alan.errors %}<tr class="errors"></tr>{% else %}<tr>{% endif %}
                <th>{{ alan.label }}</th>
                <td>{{ alan }}</td>
                {% if alan.errors %}<td>{{ alan.errors }}</td>{% endif %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Gönder">
    </form>

</body>
</html>